name: test-packages

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  build:
    name: build ${{ matrix.arch }}-${{ matrix.branch }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch:
          - aarch64_generic
        branch:
          - openwrt-24.10
          - openwrt-25.12

    steps:
      - uses: actions/checkout@v4

      - name: build
        uses: openwrt/gh-action-sdk@main
        env:
          ARCH: ${{ matrix.arch }}-${{ matrix.branch }}
          FEEDNAME: nikki
          PACKAGES: luci-app-nikki
          INDEX: 1
          KEY_BUILD: ${{ secrets.KEY_BUILD }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          NO_REFRESH_CHECK: true

      - name: compress
        run: |
          tar -czf nikki_${{ matrix.arch }}-${{ matrix.branch }}.tar.gz \
            -C bin/packages/${{ matrix.arch }}/nikki .

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nikki_${{ matrix.arch }}-${{ matrix.branch }}
          path: nikki_${{ matrix.arch }}-${{ matrix.branch }}.tar.gz

  release:
    name: github release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref_name, 'v')

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4

      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            **/*.tar.gz
            
